/.idea/

/mexico-api/.mvn/
/mexico-api/HELP.md
/mexico-api/mexico-api.iml
/mexico-api/target/
/mexico-api/src/main/resources/application-local.properties

/mexico-batch/.mvn/
/mexico-batch/HELP.md
/mexico-batch/mexico-batch.iml
/mexico-batch/target
/mexico-batch/src/main/resources/application-local.properties

/mexico-web/node_modules
/mexico-web/mexico-web.iml

